In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
agri_df = pd.read_csv('India Agriculture Crop Production.csv')

In [13]:
agri_df

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2001-02,Kharif,1254.0,Hectare,2061.0,Tonnes,1.643541
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002-03,Whole Year,1258.0,Hectare,2083.0,Tonnes,1.655803
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003-04,Whole Year,1261.0,Hectare,1525.0,Tonnes,1.209358
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2001-02,Kharif,3100.0,Hectare,5239.0,Tonnes,1.690000
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2002-03,Whole Year,3105.0,Hectare,5267.0,Tonnes,1.696296
...,...,...,...,...,...,...,...,...,...,...
345402,Manipur,IMPHAL WEST,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN
345403,Manipur,SENAPATI,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN
345404,Manipur,TAMENGLONG,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN
345405,Manipur,THOUBAL,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN
345406,Manipur,UKHRUL,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN

In [5]:
agri_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345407 entries, 0 to 345406
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   State             345407 non-null  object
 1   District          345407 non-null  object
 2   Crop              345375 non-null  object
 3   Year              345407 non-null  object
 4   Season            345406 non-null  object
 5   Area              345374 non-null  float64
 6   Area Units        345407 non-null  object
 7   Production        340414 non-null  float64
 8   Production Units  345407 non-null  object
 9   Yield             345374 non-null  float64
dtypes: float64(3), object(7)
memory usage: 26.4+ MB

### Unique count and values for Crops, States and Districts

In [9]:
unique_crop_list = agri_df['Crop'].unique()
print('Total number of unique crops - ', len(unique_crop_list))
print('\nWe have following crops in the dataset - ', unique_crop_list)

Total number of unique crops -  57

We have following crops in the dataset -  ['Arecanut' 'Banana' 'Black pepper' 'Cashewnut' 'Coconut' 'Dry chillies'
 'Ginger' 'Other Kharif pulses' 'other oilseeds' 'Rice' 'Sugarcane'
 'Sweet potato' 'Arhar/Tur' 'Bajra' 'Castor seed' 'Coriander'
 'Cotton(lint)' 'Gram' 'Groundnut' 'Horse-gram' 'Jowar' 'Linseed' 'Maize'
 'Mesta' 'Moong(Green Gram)' 'Niger seed' 'Onion' 'Other Rabi pulses'
 'Potato' 'Ragi' 'Rapeseed &Mustard' 'Safflower' 'Sesamum' 'Small millets'
 'Soyabean' 'Sunflower' 'Tapioca' 'Tobacco' 'Turmeric' 'Urad' 'Wheat'
 'Oilseeds total' 'Jute' 'Masoor' 'Peas & beans (Pulses)' 'Barley'
 'Garlic' 'Khesari' 'Sannhamp' 'Guar seed' 'Moth' 'Cardamom'
 'Other Cereals' 'Cowpea(Lobia)' 'Dry Ginger' 'Other Summer Pulses' nan]

In [11]:
len(agri_df['State'].unique())

36

In [12]:
len(agri_df['District'].unique())

729

#### Dealing with various production units

In [15]:
agri_df['Production Units'].unique()

array(['Tonnes', 'Nuts', 'Bales'], dtype=object)

In [19]:
#agri_df[agri_df['Production Units']=='Nuts']['Crop'].unique()

In [20]:
def std_unit(df):
    
    if df['Production Units'] == 'Nuts':
        new_production = df['Production']/50
        return new_production
    elif df['Production Units'] == 'Tonnes':
        return df['Production']
    else:
        new_production = df['Production']/4.5929637955183
        return new_production

In [25]:
agri_df['New Production'] = agri_df.apply(std_unit,axis=1)
agri_df.sample(5)

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield,New Production
236674,Gujarat,RAJKOT,Cotton(lint),2018-19,Kharif,260249.0,Hectare,579768.0,Bales,2.227743,126229.603762
257977,Odisha,ANUGUL,Sesamum,2017-18,Winter,336.0,Hectare,89.4,Tonnes,0.266071,89.400000
264539,Tamil Nadu,TIRUVANNAMALAI,Ragi,2017-18,Kharif,1452.0,Hectare,4973.0,Tonnes,3.424931,4973.000000
124153,Uttar Pradesh,KAUSHAMBI,Masoor,2009-10,Rabi,81.0,Hectare,61.0,Tonnes,0.753086,61.000000
178815,Arunachal Pradesh,ANJAW,Turmeric,2015-16,Whole Year,39.0,Hectare,156.0,Tonnes,4.000000,156.000000

In [26]:
agri_df.drop(columns=['Production','Production Units'],inplace=True)

In [27]:
agri_df

,State,District,Crop,Year,Season,Area,Area Units,Yield,New Production
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2001-02,Kharif,1254.0,Hectare,1.643541,2061.0
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002-03,Whole Year,1258.0,Hectare,1.655803,2083.0
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003-04,Whole Year,1261.0,Hectare,1.209358,1525.0
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2001-02,Kharif,3100.0,Hectare,1.690000,5239.0
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2002-03,Whole Year,3105.0,Hectare,1.696296,5267.0
...,...,...,...,...,...,...,...,...,...
345402,Manipur,IMPHAL WEST,NaN,2019-20,Rabi,NaN,Hectare,NaN,NaN
345403,Manipur,SENAPATI,NaN,2019-20,Rabi,NaN,Hectare,NaN,NaN
345404,Manipur,TAMENGLONG,NaN,2019-20,Rabi,NaN,Hectare,NaN,NaN
345405,Manipur,THOUBAL,NaN,2019-20,Rabi,NaN,Hectare,NaN,NaN
345406,Manipur,UKHRUL,NaN,2019-20,Rabi,NaN,Hectare,NaN,NaN

## Get the statewise total production of crops